{% extends 'music/base.html'%}
{% block title%} Album Details {%endblock%}
{% block body %}
    <img src="{{album.album_logo.url}}" width="500dp" height="300dp" alt="">
    <h1>{{album.album_title}}</h1>
    <h3>{{album.artist}}</h3>
        {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
        {%endif%}
        {% for song in album.song_set.all %}
            {{song.song_title}}
            {% if song.is_favorite %}
                <p>*</p>
            {%endif%}
        {%endfor%}
{% endblock %}