{% extends 'music/base.html'%}
{% block body%}
{% block title %} Albums {% endblock %}
    <H1>Album List</H1>
    {% if all_albums %}
            {% for album in object_list %}
            <ul>
                <li>
                    <div class="card">
                        <img class="card-img-top" src="{{album.album_logo.url}}" alt="Card image cap" height="150dp" width="150dp" >
                        <div class="card-body">
                            <h4 class="card-title">{{album.album_title}}</h4>
                            <p class="card-text">{{album.album_artist}}</p>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'detail' album.id  %}">
                                <input type="hidden" name="album_id" value="{{album.album_id}}"/>
                                <button type="submit" class="btn btn-default">View</button>
                            </form>
                            <form action="{% url 'album-delete' album.id  %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{album.album_id}}"/>
                                <button type="submit" class="btn btn-default">Delete</button>
                            </form>
                            <form action="{% url 'album-update' album.id  %}" name = "update_form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="album_id" value="{{album.album_id}}"/>
                                    <button type="submit" class="btn btn-default">Update</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <!--  <li><a href= {% url 'detail' album.id %}>{{album.album_title}}</a></li> -->
            {% endfor %}
    {% else %}
        <h2>You have no records in your database</h2>
    {%endif%}
{% endblock %}  